<a href="https://colab.research.google.com/github/Salmanshowmic/Handling-a-datset/blob/main/Handling_a_CSV_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

Upload the dataset. CSV file.

In [2]:
volunteer = pd.read_csv('heart failur classification dataset.csv')
volunteer.head()

   Unnamed: 0   age  anaemia  ...  smoking  time  DEATH_EVENT
0           0  75.0        0  ...       No   4.0            1
1           1  55.0        0  ...       No   6.0            1
2           2  65.0        0  ...      Yes   7.0            1
3           3  50.0        1  ...       No   7.0            1
4           4  65.0        1  ...       No   8.0            1

[5 rows x 14 columns]

Number of rows and columns in the dataset

In [3]:
volunteer.shape

(299, 14)

to find existing null values in the dataset

In [4]:
volunteer.isnull()

     Unnamed: 0    age  anaemia  ...  smoking   time  DEATH_EVENT
0         False  False    False  ...    False  False        False
1         False  False    False  ...    False  False        False
2         False  False    False  ...    False  False        False
3         False  False    False  ...    False  False        False
4         False  False    False  ...    False  False        False
..          ...    ...      ...  ...      ...    ...          ...
294       False  False    False  ...    False  False        False
295       False  False    False  ...    False  False        False
296       False  False    False  ...    False  False        False
297       False  False    False  ...    False  False        False
298       False  False    False  ...    False   True        False

[299 rows x 14 columns]

to find the total number of null values in each columns

In [5]:
volunteer.isnull().sum()

Unnamed: 0                  0
age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                6
sex                         0
smoking                     0
time                        7
DEATH_EVENT                 0
dtype: int64

handling the null values. Replacing the null values with MEAN values.Median/Mode can also be used.

In [6]:
from sklearn.impute import SimpleImputer

impute = SimpleImputer(missing_values=np.nan, strategy='mean')

impute.fit(volunteer[['serum_sodium']])

volunteer['serum_sodium'] = impute.transform(volunteer[['serum_sodium']])

impute.fit(volunteer[['time']])

volunteer['time'] = impute.transform(volunteer[['time']])

In [7]:
volunteer.isnull().sum()

Unnamed: 0                  0
age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

Data types of each columns

In [8]:
volunteer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                299 non-null    int64
 1   age                       299 non-null    float64
 2   anaemia                   299 non-null    int64
 3   creatinine_phosphokinase  299 non-null    int64
 4   diabetes                  299 non-null    int64
 5   ejection_fraction         299 non-null    int64
 6   high_blood_pressure       299 non-null    int64
 7   platelets                 299 non-null    float64
 8   serum_creatinine          299 non-null    float64
 9   serum_sodium              299 non-null    float64
 10  sex                       299 non-null    object
 11  smoking                   299 non-null    object
 12  time                      299 non-null    float64
 13  DEATH_EVENT               299 non-null    int64
dtypes: float64(5), int64(7), object(2)
memory usage: 32.8+ KB

turing the string(object) type to unique values.

In [9]:
volunteer['smoking'].unique()   ##finding the unique values of the column.

array(['No', 'Yes'], dtype=object)

In [12]:
volunteer['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder

# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
volunteer['smoking'] = enc.fit_transform(volunteer['smoking'])

# Compare the two columns
print(volunteer[['smoking']].head())

   smoking
0        0
1        0
2        1
3        0
4        0

In [14]:
# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
volunteer['sex'] = enc.fit_transform(volunteer['sex'])

# Compare the two columns
print(volunteer[['sex']].head())

   sex
0    1
1    1
2    1
3    1
4    0